
DATABASE_URL="postgresql://myuser:mysecretpassword@localhost:5435/my_database"
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

FRONTEND_URL="http://localhost:3002"

# mail
MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASSWORD=
MAIL_FROM=
BREVO_API_KEY=
# optional
MAIL_TRANSPORT=smtp://${MAIL_USER}:${MAIL_PASSWORD}@${MAIL_HOST}

SUPER_ADMIN_PASSWORD=
SUPER_ADMIN_EMAIL=
SUPER_ADMIN_NAME=
ORG_NAME=
ORG_LOGO=